### **Our First Python Program**

In [ ]:
print('Hello, world')

Hello, world

In [ ]:
# A Key Point to know about Python
# it is a case sensitive language (a!=A)

### Variables

Basic Types in Python - numbers (integers, floating), boolean, strings

In [ ]:
name = "Shraddha"
age = 32
is_adult = True
salary = 30000.5

print(name, type(name))
print(age, type(age))
print(is_adult, type(is_adult))
print(salary, type(salary))

Shraddha <class 'str'>
32 <class 'int'>
True <class 'bool'>
30000.5 <class 'float'>

### Taking Input and Type Conversion

In [ ]:
# name = input("What is your name?: ")
# print(name, type(name))

In [ ]:
# age = int(input('Enter age : '))
# print(age+10, type(age))

In [ ]:
 #Useful converion functions
# 1. float()
# 2. bool()
# 3. str()
# 4. int()

In [ ]:
# num1 = int(input("Enter number 1: "))
# num2 = int(input("Enter number 2: "))

# sum = num1 + num2
# print(f'Sum = {sum}')

In [ ]:
pi = 3.1415926535
print(f"Pi round = {pi:.3f}")
print(f"Large number = {100000000000:,}")  # adds commas
print(f"Percentage = {0.0756:.1%}")

#.1 → show 1 decimal place.
# % → convert the number to a percentage (i.e., multiply by 100 and add %).

Pi round = 3.142
Large number = 100,000,000,000
Percentage = 7.6%

### Strings

In [ ]:
name = "Tony Stark"
print(name.upper(), name)

print(name.lower(), name)

TONY STARK Tony Stark
tony stark Tony Stark

In [ ]:
print(name.find('S'))
print(name.find('z'))

5
-1

In [ ]:
print(name.replace("Tony Stark", "Ironman"))
print(name)

Ironman
Tony Stark

In [ ]:
print("Stark" in name)
print("S" in name)
print("s" in name)

True
True
False

### Arithmetic Operators

In [ ]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

7
3
10
2.5
2
1
25

In [ ]:
i = 5
print(i)

i = i + 5
print(i)

i += 2
print(i)

i -= 2
print(i)

i *= 2
print(i)

5
10
12
10
20

### Operator Precedence

In [ ]:
# Operator Precedence
result = 3 + 5 * 2 # 16 or 13 ?
print(result)

13

### Logical Operators

In [ ]:
number = 2

print(number > 3)
print(number < 3)
print(not (number > 3))
print(not (number < 3))

False
True
True
False

In [ ]:
print(number > 3 and number > 1)
print(number > 3 or number > 1)

False
True

### If Else Statements

In [ ]:
age = 15

if age>=18:
  print("You are an adult")
elif age<3:
  print("You are a child")
else:
  print("You are a teenager")

You are a teenager

In [ ]:
age = 2

if age >= 10:
  print('You are an adult')
elif age<5:
  print('You can\'t vote')
else:
  print('No, you are not adult')

You can't vote

### For loop

In [ ]:
for idx in range(1, 6):
  print(idx)

1
2
3
4
5

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

### While loop

In [ ]:
idx = 1

while(idx<=10):
  # print(16*idx)
  print(f'16 * {idx} = {16*idx}')
  idx+=1

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

### Python Data Structures

List, Tuples, Dictionary, Set, Arrays

### Lists

List is a complex type in Python

In [ ]:
friends = ["amar", "akbar", "anthony"]

print(friends[0:2])
print(friends[0])
print(friends[-1])
print(friends[1])

friends[0] = "aman"
print(friends[0])

['amar', 'akbar']
amar
anthony
akbar
aman

In [ ]:
for fri in friends:
  print(fri)

aman
akbar
anthony

In [ ]:
# List Methods

marks = ["english", 95, "chemistry", 98]
marks.append("physics")
marks.append(97)
print(marks)

['english', 95, 'chemistry', 98, 'physics', 97]

In [ ]:
marks.insert(0, "maths")
print(marks)

marks.insert(1, 100)
print(marks)

['maths', 'english', 95, 'chemistry', 98, 'physics', 97]
['maths', 100, 'english', 95, 'chemistry', 98, 'physics', 97]

In [ ]:
"maths" in marks

True

### Tuples

They are like lists (sequence of objects) but they are immutable i.e. once they have been defined we cannot change them. Parenthesis in tuples are optional.

In [ ]:
marks = (95, 98, 97, 97, 97, 97)
#marks[0] = 98 # tuple is immutable

In [ ]:
print(marks.count(97))
print(marks.index(95))
print(marks.index(98))
print(marks.index(97))

4
0
1
2

In [ ]:
print(marks[:4])
print(marks[2])

(95, 98, 97, 97)
97

### Sets

Sets are a collection of all unique elements. indexing is not supported in  sets.

In [ ]:
marks = {98, 97, 95, 95}
print(marks)

{97, 98, 95}

In [ ]:
98 in marks

True

In [ ]:
for score in marks:
  print(f"marks = {score}")

marks = 97
marks = 98
marks = 95

In [ ]:
# marks[0] #indexing is not supported in sets

### Dictionary

Dictionary is an unordered collection of items. Dictionary stores a (key, value) pair.

In [ ]:
marks = {
    "math" : 99,
    "chemistry" : 98,
    "physics" : 97
}

In [ ]:
print(marks)
print(marks["chemistry"])
print(marks["math"])

{'math': 99, 'chemistry': 98, 'physics': 97}
98
99

Iterating through a dictionary

In [ ]:
# Iterate over keys
for key in marks:
  # print(key, marks[key])
  # print({key})
  print(f"{key}: {marks[key]}")

# OR

# Iterate over keys
for key in marks.keys():
  print(key)

math: 99
chemistry: 98
physics: 97
math
chemistry
physics

In [ ]:
# Iterate over values
for value in marks.values():
  print(value)

99
98
97

In [ ]:
# Iterate over key-value pairs
for key, val in marks.items():
  print(f"{key}: {val}")

math: 99
chemistry: 98
physics: 97

In [ ]:
# Nested Dictionary

d = {1: 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(d)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

### Functions in Python

a. In-built functions

<br>
int(), str(), float(), min(), range(), max()

In [ ]:
str(50)

'50'

In [ ]:
print(min(5, 98))
print(max(5, 98))
print(float(10))
print(int(10.5))
print(range(5))
print(str("Hello"))

5
98
10.0
10
range(0, 5)
Hello

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

b. Module functions

 Module is a file that contains some functions & variables which can be imported
 for use in other files.
 Each module should contain some related tasks
 Example : math, random, string

In [ ]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
import random

print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [ ]:
from math import sqrt

print(sqrt(144))
print(sqrt(625), type(sqrt(625)))

12.0
25.0 <class 'float'>

c. User-defined functions

In [ ]:
def getSum(a, b=5):
  return a*b

In [ ]:
print(getSum(10))
print(getSum(9))
print(getSum(5, -4))

50
45
-20